$bg-1: #FF005E;
$bg-2: #3F4B59;
$bg-3: #64707D;
$bg-4: #e4e4e4;
$bg-5: #172126;
$bg-6: #353535;
$bg-7: #0c0c0c;


$white: #fff;
$black: #000;

// $bg-1: #F2B90F;
// $bg-2: #262626;
// $bg-3: #424242;
// $bg-4: #F2F2F2;
// $bg-5: #1a1a1a;
// $bg-6: #727272;
// $bg-7: #418fde;