@import "./vars";

.boxPrint {
  z-index: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  .print {
    color: $bg-4;
    background-image: url("../Img/printBackground.svg");
    width: 480px;
    height: 640px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 50px;
    box-sizing: border-box;
    .header__print {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        height: 40px;
      }
    }
    .container__print {
      .title {
        text-align: center;
        font-size: 14px;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h1 {
          margin: 0;
          font-size: 45px;
          line-height: 50px;
        }
      }
      .data {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 30px;
        .itemMain {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          img {
            height: 40px;
          }
          .itemMain__count {
            text-align: center;
            span {
              font-size: 28px;
              font-weight: 600;
            }
            .itemMain__label {
              width: 110px;
              padding-bottom: 2px;
              border-radius: 5px;
              background-color: $bg-4;
              span {
                font-size: 15px;
                font-weight: 400;
                color: $bg-5;
              }
            }
          }
        }
        .itemNormal {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          color: $bg-3;
          img {
            height: 28px;
          }
          .itemNormal__count {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            .itemNormal__label {
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
    }
    .footer__print {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 14px;
      font-weight: 200;
      .year {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 480px) {
  .boxPrint { 
    .print {
      width: 100vw;
      height: 133.33vw;
      background-position-x: center;
      background-position-y: top;
      background-size: calc(100vw);
      background-repeat: repeat;
      color: $bg-4;
      padding: 30px 20px;
      .header__print {
        img {
          height: 30px;
        }
      }
      .container__print {
        .title {
          font-size: 12px;
          margin: 30px 0;
          gap: 10px;
          h1 {
            font-size: 35px;
            line-height: 40px;
          }
        }
        .data {
          gap: 30px 20px;
          .itemMain {
            gap: 15px;
            img {
              height: 30px;
            }
            .itemMain__count {
              span {
                font-size: 21px;
              }
              .itemMain__label {
                width: 90px;
                span {
                  font-size: 13px;
                }
              }
            }
          }
          .itemNormal {
            gap: 10px;
            img {
              height: 22px;
            }
            .itemNormal__count {
              font-size: 16px;
              .itemNormal__label {
                font-size: 12px;
              }
            }
          }
        }
      }
      .footer__print {
        gap: 3px;
        font-size: 12px;
        .year {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .boxPrint { 
    .print {
      background-size: contain;
      padding: 20px;
      .header__print {
        img {
          height: 30px;
        }
      }
      .container__print {
        .title {
          font-size: 10px;
          margin: 30px 0;
          gap: 10px;
          h1 {
            font-size: 25px;
            line-height: 40px;
          }
        }
        .data {
          gap: 20px 10px;
          .itemMain {
            gap: 12px;
            img {
              height: 20px;
            }
            .itemMain__count {
              span {
                font-size: 17px;
              }
              .itemMain__label {
                width: 70px;
                padding-bottom: 2px;
                line-height: 15px;
                span {
                  font-size: 10px;
                }
              }
            }
          }
          .itemNormal {
            img {
              height: 16px;
            }
            .itemNormal__count {
              font-size: 13px;
              .itemNormal__label {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}