@import './sections/loader.scss';
@import './sections/container.scss';

@import './vars.scss';

body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.app{
    position: relative;
    height: 100vh;
}