@import "./sections/loader.scss";
@import "./sections/container.scss";
@import "./sections/canvas";

@import "./breakpoints.scss";

@import "./animations";
@import "./vars.scss";
@import "./print.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}
