@import "../vars";
@import "../mixins";

.container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 65% 20%;
  grid-template-areas:
    "nav"
    "container"
    "footer";
  .navbar {
    height: 100%;
    width: 100%;
    .navbar__content {
      grid-area: nav;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10%;
      box-sizing: border-box;
      // animation: 2s navbar .5s ease-in;
      img {
        height: 55px;
        width: 55px;
      }
      button {
        @include btn(
          $h: 42px,
          $w: 150px,
          $br: 5px,
          $bg: $bg-1,
          $c: $white,
          $fs: 17px
        );
      }
    }
  }
  .main-content {
    grid-area: container;
    padding: 20px 0 0 10%;
    color: $bg-4;
    .update {
      display: flex;
      align-items: center;
      gap: 15px;
      height: 30px;
      border-radius: 20px;
      background-color: $bg-2;
      width: 385px;
      color: $bg-4;
      font-size: 12px;
      button {
        @include btn(
          $h: 30px,
          $w: auto,
          $br: 15px,
          $bg: $bg-1,
          $c: $white,
          $fs: 12px
        );
        padding: 0 15px;
        transition: 0.3s;
        font-weight: 600;
        &:hover {
          background-color: $bg-6;
          transition: 0.3s;
        }
      }
    }
    .title {
      font-size: 50px;
      margin: 50px 0 0;
    }
    .data {
      width: 450px;
      display: grid;
      column-gap: 80px;
      grid-template-columns: repeat(2, 1fr);
      .data__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .search {
      background-color: $bg-4;
      width: 650px;
      height: 60px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px 0 25px;
      box-sizing: border-box;
      margin-top: 50px;
      box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
      transition: 0.3s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
        transition: 0.3s;
      }
      input {
        @include input(
          $h: 40px,
          $w: 91%,
          $br: none,
          $bg: transparent,
          $c: $bg-2,
          $b: none,
          $fs: 25px
        );
      }
      button {
        @include btn(
          $h: 50px,
          $w: 50px,
          $br: 25px,
          $bg: $bg-1,
          $c: $white,
          $fs: 25px
        );
        transition: .3s;
        &:hover {
          background-color: $bg-6;
          transition: .3s;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 300px;
    .topInfedted{
      display: flex;
      gap: 50px;
      padding-left: 10%;
    }
  }
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
