@import "../vars";
@import "../mixins";

.container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 65% 20%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "nav nav"
    "container animation"
    "footer footer";
  .navbar {
    height: 100%;
    width: 100%;
    grid-area: nav;
    .navbar__content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10%;
      box-sizing: border-box;
      animation: 2s navbar 0.5s ease-in;
      img {
        height: 50px;
      }
      button {
        @include btn(
          $h: 42px,
          $w: 150px,
          $br: 5px,
          $bg: $bg-1,
          $c: $white,
          $fs: 17px
        );
        transform: scale(1);
        transition: 0.3s;
        &:hover {
          transform: scale(0.9);
          transition: 0.3s;
          background-color: $bg-5;
        }
      }
    }
  }
  .animationMain {
    grid-area: animation;
    padding: 80px 20% 0 0;
    position: relative;
    animation: 2s animationMain 0.5s ease-in;
    .shadow {
      width: 360px;
      height: 360px;
      border-radius: 50%;
      background-color: #000;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px,
        rgba(0, 0, 0, 0.6) 0px 15px 20px;
      top: 70px;
      left: 160px;
    }
    .covid {
      width: 540px;
      height: 537px;
      position: absolute;
      top: 0;
      left: 60px;
      .protein {
        animation: 10s protein 2s ease-in-out infinite;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        .protein-1 {
          @include protein($s: 60px, $bg: $bg-2);
          border: 8px solid  $bg-4;
          top: 120px;
          left: 250px;
          animation: 2s protein1 0.5s infinite;
        }
        .protein-2 {
          @include protein($s: 20px, $bg: $bg-2);
          border: 6px solid  $bg-4;
          bottom: 150px;
          left: 300px;
          animation: 2s protein2 0.5s infinite;
        }
        .protein-3 {
          @include protein($s: 16px, $bg: $bg-5);
          bottom: 255px;
          left: 160px;
          animation: 2s protein3 0.5s infinite;
        }
        .protein-4 {
          @include protein($s: 10px, $bg: $bg-5);
          bottom: 250px;
          left: 280px;
          animation: 2s protein4 0.5s infinite;
        }
        .protein-5 {
          @include protein($s: 16px, $bg: $bg-5);
          bottom: 230px;
          right: 100px;
          animation: 2s protein5 0.5s infinite;
        }
        .protein-6 {
          @include protein($s: 25px, $bg: $bg-5);
          top: 160px;
          right: 130px;
          animation: 2s protein6 0.5s infinite;
        }
        .protein-7 {
          @include protein($s: 5px, $bg: $bg-5);
          top: 120px;
          left: 180px;
          animation: 2s protein7 0.5s infinite;
        }
      }
    }
  }
  .main-content {
    grid-area: container;
    padding: 20px 0 0 20%;
    color: $bg-4;
    animation: 2s mainContent 0.5s ease-in;
    .update {
      display: flex;
      align-items: center;
      gap: 15px;
      height: 30px;
      border-radius: 20px;
      background-color: $bg-2;
      width: 385px;
      color: $bg-4;
      font-size: 12px;
      button {
        @include btn(
          $h: 30px,
          $w: auto,
          $br: 15px,
          $bg: $bg-1,
          $c: $white,
          $fs: 12px
        );
        padding: 0 15px;
        transition: 0.3s;
        font-weight: 600;
        &:hover {
          background-color: $bg-6;
          transition: 0.3s;
        }
      }
    }
    .containerTitle{
      display: flex;
      align-items: flex-end;
      .title {
        font-size: 50px;
        margin: 50px 0 0;
      }
      .imgCountry{
        height: 35px;
        margin: 0 0 20px 15px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
      }
      .imgGlobal{
        height: 40px;
        margin: 0 0 20px 15px;
      }
    }
    .data {
      width: 90%;
      display: grid;
      column-gap: 60px;
      grid-template-columns: repeat(2, 1fr);
      .data__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #TotalConfirmed {
          font-weight: 600;
        }
      }
    }
    .search {
      background-color: $bg-4;
      width: 90%;
      height: 60px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px 0 25px;
      box-sizing: border-box;
      margin-top: 50px;
      box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
      transition: 0.3s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
        transition: 0.3s;
      }
      input {
        @include input(
          $h: 40px,
          $w: 91%,
          $br: none,
          $bg: transparent,
          $c: $bg-3,
          $b: none,
          $fs: 25px
        );
      }
      button {
        @include btn(
          $h: 50px,
          $w: 50px,
          $br: 25px,
          $bg: $bg-1,
          $c: $white,
          $fs: 25px
        );
        transition: 0.3s;
        &:hover {
          background-color: $bg-6;
          transition: 0.3s;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
    animation: 2s footer 0.5s ease-in;
    .topCountries {
      position: absolute;
      top: -60px;
      color: $bg-4;
    }
    ul {
      display: flex;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      transition: 0.5s;
      &:hover {
        li {
          button {
            .count {
              background-color: $bg-2;
              transition: 0.5s;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .number {
              background-color: $bg-2;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
          }
          &:hover {
            button {
              .count {
                background-color: $bg-7;
                transition: 0.5s;
              }
              .number {
                background-color: $bg-1;
              }
            }
          }
        }
      }
      li {
        position: relative;
        width: 220px;
        height: 100%;
        display: flex;
        justify-content: center;
        transition: 0.3s;
        &:nth-child(1) {
          padding-right: 25px;
          .count {
            left: 20px;
          }
        }
        &:nth-child(2) {
          padding: 0 25px;
          button {
            .number {
              left: 25px;
            }
            .count {
              left: 45px;
            }
          }
        }
        &:nth-child(3) {
          padding-left: 25px;
          button {
            .number {
              left: 25px;
            }
            .count {
              left: 45px;
            }
          }
        }
        button {
          @include btn($h: 90%, $w: 220px, $br: none, $bg: transparent);
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-top: 15px;
          .number {
            position: absolute;
            bottom: 20px;
            left: 0;
            height: 50px;
            width: 50px;
            background-color: $bg-1;
            color: $bg-4;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 30px;
          }
          .count {
            height: 30px;
            width: 196px;
            background-color: $bg-7;
            color: $bg-4;
            position: absolute;
            bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 15px;
            font-size: 13px;
          }
          img {
            height: 55px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
          }
        }
      }
    }
    .socialNetworks {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $bg-4;
      button {
        @include btn(
          $h: auto,
          $w: auto,
          $br: 5px,
          $bg: transparent,
          $c: $white,
          $fs: 17px
        );
        padding: 0;
        transition: 0.3s;
        &:hover {
          color: $bg-1;
          transition: 0.3s;
        }
      }
    }
  }
}
