.container {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav       aside"
    "container aside"
    "footer    aside";
  .navbar {
      height: 100%;
      width: 100%;
    .navbar__content {
      grid-area: nav;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 100px;
      gap: 50px;
      box-sizing: border-box;
      animation: 2s navbar .5s ease-in;
      img {
        height: 80px;
        width: 80px;
      }
      ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 70%;
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: $bg-2;
                font-weight: 400;
            }
        }
      }
    }
  }
  .main-content {
    grid-area: container;
    border: 3px solid rgb(15, 221, 221);
  }
  .side-content {
    grid-area: aside;
    border: 3px solid rgb(15, 221, 221);
  }
  .footer {
    grid-area: footer;
    border: 3px solid rgb(15, 221, 221);
  }
}

@keyframes navbar {
    0%{
      transform: translateY(-200px);
    }
    100%{
      transform: translateY(0px);
    }
}
