@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");
.loader {
  display: none;
  background-color: #e4e4e4;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 999;
  animation: loader 2s linear forwards;
}
.loader div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #172126;
  animation: scaling 2s ease-in-out infinite;
  transform: scale(0);
}
.loader div:nth-child(1) {
  animation-delay: 0.2s;
}
.loader div:nth-child(2) {
  animation-delay: 0.4s;
}
.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

.container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 65% 20%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "nav nav" "container animation" "footer footer";
}
.container .navbar {
  height: 100%;
  width: 100%;
  grid-area: nav;
}
.container .navbar .navbar__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  animation: 2s navbar 0.5s ease-in;
}
.container .navbar .navbar__content img {
  height: 50px;
}
.container .navbar .navbar__content button {
  height: 42px;
  width: 150px;
  border-radius: 5px;
  background-color: #FF005E;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  transition: 1ss ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .navbar .navbar__content button span, .container .navbar .navbar__content button i {
  z-index: 2;
  position: absolute;
}
.container .navbar .navbar__content button::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #3F4B59;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto -25px;
  position: absolute;
  transform: scale(0);
  transition: 0.5s;
  border-radius: 50%;
}
.container .navbar .navbar__content button:hover::after {
  transform: scale(1);
  transition: 0.5s;
}
.container .animationMain {
  grid-area: animation;
  padding: 80px 20% 0 0;
  position: relative;
  animation: 2s animationMain 0.5s ease-in;
}
.container .animationMain .shadow {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 15px 20px;
  top: 70px;
  left: 160px;
}
.container .animationMain .covid {
  width: 540px;
  height: 537px;
  position: absolute;
  top: 0;
  left: 60px;
}
.container .animationMain .covid .protein {
  animation: 10s protein 2s ease-in-out infinite;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.container .animationMain .covid .protein .protein-1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #3F4B59;
  position: absolute;
  border: 8px solid #e4e4e4;
  top: 120px;
  left: 250px;
  animation: 2s protein1 0.5s infinite;
}
.container .animationMain .covid .protein .protein-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3F4B59;
  position: absolute;
  border: 6px solid #e4e4e4;
  bottom: 150px;
  left: 300px;
  animation: 2s protein2 0.5s infinite;
}
.container .animationMain .covid .protein .protein-3 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #172126;
  position: absolute;
  bottom: 255px;
  left: 160px;
  animation: 2s protein3 0.5s infinite;
}
.container .animationMain .covid .protein .protein-4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #172126;
  position: absolute;
  bottom: 250px;
  left: 280px;
  animation: 2s protein4 0.5s infinite;
}
.container .animationMain .covid .protein .protein-5 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #172126;
  position: absolute;
  bottom: 230px;
  right: 100px;
  animation: 2s protein5 0.5s infinite;
}
.container .animationMain .covid .protein .protein-6 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #172126;
  position: absolute;
  top: 160px;
  right: 130px;
  animation: 2s protein6 0.5s infinite;
}
.container .animationMain .covid .protein .protein-7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #172126;
  position: absolute;
  top: 120px;
  left: 180px;
  animation: 2s protein7 0.5s infinite;
}
.container .main-content {
  grid-area: container;
  padding: 20px 0 0 20%;
  color: #e4e4e4;
  animation: 2s mainContent 0.5s ease-in;
}
.container .main-content .update {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 30px;
  border-radius: 20px;
  background-color: #3F4B59;
  width: 395px;
  color: #e4e4e4;
  font-size: 12px;
}
.container .main-content .update button {
  height: 30px;
  width: 70px;
  border-radius: 15px;
  background-color: #FF005E;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  transition: 1ss ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-weight: 600;
}
.container .main-content .update button span, .container .main-content .update button i {
  z-index: 2;
  position: absolute;
}
.container .main-content .update button::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #353535;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
}
.container .main-content .update button:hover::after {
  transform: scale(1);
  transition: 0.5s;
}
.container .main-content .containerTitle {
  display: flex;
  align-items: flex-end;
}
.container .main-content .containerTitle .title {
  font-size: 50px;
  margin: 50px 0 0;
}
.container .main-content .containerTitle .imgCountry {
  height: 35px;
  margin: 0 0 20px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}
.container .main-content .containerTitle .imgGlobal {
  height: 40px;
  margin: 0 0 20px 15px;
}
.container .main-content .data {
  width: 90%;
  display: grid;
  column-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
}
.container .main-content .data .data__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main-content .data .data__item #TotalConfirmed {
  font-weight: 600;
}
.container .main-content .search {
  background-color: #e4e4e4;
  width: 90%;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 25px;
  box-sizing: border-box;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
  transition: 0.3s;
}
.container .main-content .search:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
  transition: 0.3s;
}
.container .main-content .search input {
  height: 40px;
  width: 91%;
  border-radius: none;
  background-color: transparent;
  color: #64707D;
  border: none;
  outline: none;
  font-size: 25px;
}
.container .main-content .search button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #FF005E;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 25px;
  position: relative;
  overflow: hidden;
  transition: 1ss ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main-content .search button span, .container .main-content .search button i {
  z-index: 2;
  position: absolute;
}
.container .main-content .search button::after {
  content: "";
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #353535;
  transform: scale(0);
  transition: 0.3s;
}
.container .main-content .search button:hover::after {
  transform: scale(1);
  transition: 0.3s;
}
.container .footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
  animation: 2s footer 0.5s ease-in;
}
.container .footer .topCountries {
  position: absolute;
  top: -60px;
  color: #e4e4e4;
}
.container .footer ul {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
.container .footer ul:hover li button .count {
  background-color: #3F4B59;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container .footer ul:hover li button .number {
  background-color: #3F4B59;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container .footer ul:hover li:hover button .count {
  background-color: #0c0c0c;
  transition: 0.5s;
}
.container .footer ul:hover li:hover button .number {
  background-color: #FF005E;
}
.container .footer ul li {
  position: relative;
  width: 220px;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.container .footer ul li:nth-child(1) {
  padding-right: 25px;
}
.container .footer ul li:nth-child(1) .count {
  left: 20px;
}
.container .footer ul li:nth-child(2) {
  padding: 0 25px;
}
.container .footer ul li:nth-child(2) button .number {
  left: 25px;
}
.container .footer ul li:nth-child(2) button .count {
  left: 45px;
}
.container .footer ul li:nth-child(3) {
  padding-left: 25px;
}
.container .footer ul li:nth-child(3) button .number {
  left: 25px;
}
.container .footer ul li:nth-child(3) button .count {
  left: 45px;
}
.container .footer ul li button {
  height: 90%;
  width: 220px;
  border-radius: none;
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: 1ss ease;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
}
.container .footer ul li button span, .container .footer ul li button i {
  z-index: 2;
  position: absolute;
}
.container .footer ul li button .number {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #FF005E;
  color: #e4e4e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
}
.container .footer ul li button .count {
  height: 30px;
  width: 196px;
  background-color: #0c0c0c;
  color: #e4e4e4;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  font-size: 13px;
}
.container .footer ul li button img {
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.container .footer .socialNetworks {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e4e4e4;
}
.container .footer .socialNetworks a {
  height: auto;
  width: auto;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  transition: 1ss ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 0.3s;
  text-decoration: none;
}
.container .footer .socialNetworks a span, .container .footer .socialNetworks a i {
  z-index: 2;
  position: absolute;
}
.container .footer .socialNetworks a:hover {
  color: #FF005E;
  transition: 0.3s;
}

.canvas {
  height: 100vh;
  width: 100vw;
  background-color: #e4e4e4;
  z-index: 1;
  position: absolute;
}
.canvas .canvas__container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.canvas .canvas__container .large-circle {
  position: absolute;
  left: -340px;
  top: -415px;
  width: 150vh;
  height: 150vh;
  background-color: #172126;
  border-radius: 50%;
  transform: scale(1);
  animation: 2s circle 0.5s ease-in;
}
.canvas .canvas__container .medium-circle {
  position: absolute;
  bottom: -250px;
  right: -100px;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: #172126;
  transform: scale(1);
  animation: 2s circle 0.5s ease-in;
}
.canvas .canvas__container .small-circle {
  position: absolute;
  top: 150px;
  right: 200px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #64707D;
  transform: scale(1);
  animation: 2s circle 0.5s ease-in;
}
.canvas .canvas__container .large-points {
  position: absolute;
  height: 200px;
  bottom: -40px;
  left: -20px;
  animation: 2s circle 0.5s ease-in;
}
.canvas .canvas__container .small-points {
  position: absolute;
  height: 100px;
  top: 150px;
  right: 10px;
  animation: 2s circle 0.5s ease-in;
}

@keyframes loader {
  0%, 95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scaling {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1, 1);
  }
}
@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animationMain {
  0% {
    transform: translateX(750px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes mainContent {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes footer {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes protein {
  0%, 40%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
}
@keyframes protein1 {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(10px);
  }
  66% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes protein2 {
  0%, 60% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(5px, 5px);
  }
  40% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}
@keyframes protein3 {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, -10px);
  }
}
@keyframes protein4 {
  0%, 40%, 100% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  60% {
    transform: translate(-10px, -10px);
  }
}
@keyframes protein5 {
  0%, 40%, 100% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -10px);
  }
  60% {
    transform: translate(-10px, 16px);
  }
}
@keyframes protein6 {
  0%, 40%, 100% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 18px);
  }
}
@keyframes protein7 {
  0%, 40%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.5);
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.print {
  background-image: url(../Img/printBackground.svg);
  background-size: cover;
  height: 500px;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  border-radius: 10px;
  position: relative;
}
.print img {
  height: 40px;
  left: 40px;
  top: 40px;
  position: absolute;
}
.print .containerPrint {
  width: 350px;
}
.print .containerPrint h1 {
  text-align: center;
  color: #FF005E;
  font-size: 40px;
}
.print .containerPrint .containerPrint__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.print .containerPrint .containerPrint__item h4 {
  margin: 10px 0;
  font-weight: 400;
}

.author {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #FF005E;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: o auto;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=style.css.map */
